* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.App {
	background-color: #282c34;
	min-height: 100vh;
	max-width: 320px;
	border: 1px solid red;
}
.GameBar {
	border: 1px solid green;
	margin: 0px;
	padding: 0px;
}
.Game {
	border: 1px solid rgb(128, 0, 64);
	padding: 0px;
}
.first {
	border: 1px solid rgb(161, 206, 38);
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.Attempts {
	border: 1px dotted orangered;
}
.Attempt {
	border: 1px dotted orangered;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.Attribute {
	margin-right: 0.5rem;
}
.btn {
	height: 3rem;
	width: 3rem;
}
.StatusBar {
	border: 1px dotted rgba(85, 0, 0, 0.63);
	color: teal;
	background-color: grey;
	padding-left: 0.75rem;
}
.status {
	border: 1px solid black;
	height: 3rem;
	margin-bottom: 0.5rem;
	padding-left: 0.25rem;
}
.Options {
	border: 1px solid rgb(0, 255, 213);
	display: flex;
	color: teal;
	justify-content: space-between;
}
.option {
	margin-right: 0.5rem;
}
footer {
	border: 1px solid rgb(10, 4, 90);
}
/* .container{
	
} */
/* .btn {
	height: 3rem;
	width: 3rem;
	margin: 0.25rem;
} */
span {
	display: inline-block;
	color: teal;
}
